# Q1. Create one variable containing following type of data:

In [6]:
# STRING
S = 'Data Science'

# LIST
l1 = ['DS', 1, 5.36, 1+3j]

# FLOAT
F = 21.69

# TUPLE
t = ('Pooja', 21, 1999)

print(S)
print(l1)
print(F)
t

Data Science
['DS', 1, 5.36, (1+3j)]
21.69

('Pooja', 21, 1999)

# Q2. Given are some following variables containing data:

In [14]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

# Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [15]:
a = 4/3     
b = 45%5
c = 4//3
d = 4**3

print(a)
print(b)
print(c)
print(d)

1.3333333333333333
0
1
64

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [1]:
l = ['Pooja',2,5.3698,'s', ('p','o','a'), ['a','b'], 1+23j,True,range(15),456]

for i in l:
    print(i)
    print('TYPE - ',type(i))

Pooja
TYPE -  <class 'str'>
2
TYPE -  <class 'int'>
5.3698
TYPE -  <class 'float'>
s
TYPE -  <class 'str'>
('p', 'o', 'a')
TYPE -  <class 'tuple'>
['a', 'b']
TYPE -  <class 'list'>
(1+23j)
TYPE -  <class 'complex'>
True
TYPE -  <class 'bool'>
range(0, 15)
TYPE -  <class 'range'>
456
TYPE -  <class 'int'>

# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [40]:
a = int(input("Enter number A: "))
b = int(input("Enter number B: "))
c=a
d=b
count = 0
while a%b==0:
        a = a/b
        print(a)
        count += 1

if count > 0:
        print(c," can be divisible by ", d , count, " times" )
else:
        print(c," is not divisible by ",d)

Enter number A:  7845
Enter number B:  5

1569.0
7845  can be divisible by  5 1  times

# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [28]:
l = list(range(-1,49,2))

for i in l:
    if i % 3==0:
        print(i, " is divisible by 3")
    else:
        print(i," is not divisible by 3")

-1  is not divisible by 3
1  is not divisible by 3
3  is divisible by 3
5  is not divisible by 3
7  is not divisible by 3
9  is divisible by 3
11  is not divisible by 3
13  is not divisible by 3
15  is divisible by 3
17  is not divisible by 3
19  is not divisible by 3
21  is divisible by 3
23  is not divisible by 3
25  is not divisible by 3
27  is divisible by 3
29  is not divisible by 3
31  is not divisible by 3
33  is divisible by 3
35  is not divisible by 3
37  is not divisible by 3
39  is divisible by 3
41  is not divisible by 3
43  is not divisible by 3
45  is divisible by 3
47  is not divisible by 3

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [7]:
## MUTABLE DATA TYPE ###
'''
When we create variable of mutable data type then we can change its data or value at its index position even after initialization.
'''

l = [1,'dog', 'cat',45]
l

[1, 'dog', 'cat', 45]

In [8]:
l[1] = 'elephant'  # here we have change the data of index 1 in list and it also shows in output
l

[1, 'elephant', 'cat', 45]

In [12]:
## IMUTABLE ##
'''
When we cant change any data or value at particular position in variable of immutable datat type like string
'''
s="dog"
s

'dog'

In [10]:
s[1]='e' # gives error

TypeError: 'str' object does not support item assignment